.container{
    position: fixed;
    z-index: 10;
    width: 100%;
}

.nav{
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 19%, rgba(65,65,170,1) 48%, rgba(0,212,255,1) 92%); */
    background-color: rgba(0, 0, 0, 0.173);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
    position: relative;
}


.nav > div, ul{
    display: inline-block;
    padding: 0.4rem 0;
    z-index: 10;
}

.logo{
    width: 3rem;
}

.menu > li, .buy_dropdown > li, .mobile_menu > li {
    list-style: none;
}

.menu > li >a, .buy_dropdown > li >a, .login, .mobile_menu > li > a{
    text-decoration: none;
    color: white;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.1rem;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu > li{
    margin: 0 2rem;
    position: relative;
}

.menu > li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .4s ease, background-color .5s ease;
  }
 .menu > li:hover:after {
    width: 100%;
    background: rgb(255, 255, 255);
  }

.buy > a{
    display: flex;
    align-items: center;
}

.buy:hover .buy_dropdown{
    display: block;
}

.buy_dropdown{
    display: none;
    position: absolute;
    top: 1.4rem;
    left: -0.5rem;
    box-shadow: 3px 3px 5px rgb(12, 24, 106);
    border-radius: 10px 10px 50px 10px;
    background: rgb(32,28,126);
    background: linear-gradient(0deg, rgb(32, 29, 132) 0%, rgba(29,29,186,1) 53%, rgb(32, 32, 120) 100%);
    z-index: 10;
}


.buy_dropdown > li{
    width: 8.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0;
    padding-left: 10px;
    transition: content .5s ease;
}

.buy_dropdown > li::before{
    content: "";
    display: inline-block;
    height: 12px;
    width: 0px;
    background-color: transparent;
    transition: width 0.2s linear, margin-right .5s ease, background-color 0.5s ease;
}

.buy_dropdown > li:hover:before{
    margin-right: 0.5rem;
    width: 2px;
    background-color: white;
}

.arrow{
    width: 10px;
   height: 10px;
    transform: rotate(0deg);
    padding: 0 8px;
    transition: transform 0.2s;
}

.buy:hover .arrow{
    transform: rotate(180deg);
    transition: transform 0.2s;
}

.login{
  animation: spin 2.5s infinite linear;
  background:
    linear-gradient(to bottom, black,black)
      padding-box,
    conic-gradient(from var(--bg-angle) in oklch longer hue, oklch(0.85 0.37 0) 0 100%)
      border-box;
  border: 3px solid transparent;
  color: white;
  padding: 0.5rem 1.5rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.login:hover{
    animation-play-state: paused;
}

@keyframes spin {
    to {
      --bg-angle:360deg;
    }
  }

  @property --bg-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @media (max-width:1030px){
    .menu > li:nth-child(n + 5){
        display: none
    }
  }

  @media (min-width:710px) {
    .mobile_sidemenu > button, .mobile_menu{
        display: none;
    }
    .mobile_sidemenu{
        position: absolute;
    }
  }

  @media (max-width:710px){
    .menu{
        display: none;
    }

    .login{
        display: none;
    }

    .mobile_sidemenu{
        position: relative;
        display: block;
    }

    .mobile_sidemenu > button{
        all:unset;
        font-size: 1.4rem;
        color: rgb(0, 0, 91);
        display: block;
    }

    .mobile_menu_section{
        display: none;
    }

    .mobile_menu{
        display: block;
        width: 6rem;
        position: absolute;
        right: -1rem;
        top: 3.3rem;
        background-color: brown;
        padding: 1rem 2rem;
        box-shadow: 3px 3px 5px rgb(109, 198, 208);
        border-radius: 0px 0px 10px 10px;
        background: rgb(5, 188, 238);
        background: linear-gradient(0deg, rgb(29, 105, 132) 0%, rgb(51, 158, 197) 53%, rgb(25, 205, 241) 100%);
    }

    .mobile_menu > li{
        padding: 0.3rem 0;
    }

    .mobile_login{
        display: inline-block;
        
    }
  }

  @media (max-width:440px){
    .nav{
        padding: 0 2rem;
    }
  }