.swiper-button-next, .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.663);
    padding: 10px 2px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.675);
    color: red;
}


.swiper-button-prev {
    transform: translateX(-0.7rem);
}

.swiper {
    --swiper-navigation-size: 20px;
    --swiper-theme-color: #ffffff;
    border-radius: 10px;
}