.container{
    width: 100%;
    position: relative;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.container > img{
    width: 100%;
}

@media (max-width:440px){
    .container > img{
        width: 135%;

    }
}